<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="fr">
    <meta charset="UTF-8" />
    <title th:text="${movie.title}"></title>
    <!--<link href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />!-->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div id="header">
    <div id="cssmenu">
        <div id="menu-button">Menu</div>
        <ul>
            <li class="active"><a href="/" data-title="Accueil">Accueil</a></li>
            <form action="#" th:action="@{/movies/search}" th:object="${movieUtils}" method="post">
                <input type="text" class="search_input" th:field="*{research}" placeholder="Titre du film" />
                <button class="btn_search">Rechercher</button>
            </form>
            <li class="active"><div th:if="${user.iduser != 0}">Bienvenue, <span th:text="${user.firstName}"></span> <span th:text="${user.name}"></span></div></li>
            <li class="active">
                <div th:if="${user.iduser == 0}">
                    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
                        <input type="text" th:field="*{pseudo}" />
                        <input type="password" th:field="*{password}" />
                        <input type="submit" value="Se connecter" />
                    </form>
                </div>
            </li>
        </ul>
    </div>
</div>


<div id="middle">
	<div class="movie">
        <span class="title_movie" th:text="${movie.title}"></span> <img th:src="${movie.imageUrl}"/>
        <br /><br />
        <span class="description_movie" th:text="${movie.description}"></span>
        <br /><br />
        <span>de </span><span class="realisator">Réalisateur</span>
        <br /><br />
        <span>avec </span><span class="actors">acteurs</span>
        <br /><br />
        <span>Sortie le </span><span class="date_sortie" th:text="${movie.dateRelease}"></span>
        <br /><br />
        <span>Note : </span><span class="date_sortie" th:text="${movie.note} ? ${movie.note} : 'Aucune note pour le moment'"></span>

        <br /><br />
        <span>Genre : </span><span class="genre_movie" th:text="${movie.genre}"></span>

        <br /><br />

        <form action="#" th:if="${hasReviewed and user.iduser != 0}" th:action="@{/movies/reviews}" th:object="${review}" method="POST">
            <input type="hidden" th:attr="name='idmovie'" th:value="${movie.idmovie}" />
            <input type="hidden" th:attr="name='iduser'" th:value="${user.iduser}" />
            Donner une note à ce film : <input type="number" step="0.1" min="0" max="5" th:field="*{rating}" />
            <input type="submit" value="Valider" />
        </form>

        <br /><br />

        <div class="commentaire_movie">

            <div>Commentaires : </div>
            <br /> <br />
            <div th:each="comment : ${movie.listComments}">
                <span th:text="${comment.comment}"></span> par <span th:text="${comment.user.pseudo}"></span>
            </div>
            <br /> <br />


            <form th:if="${user.iduser != 0}" action="#" th:action="@{/movies/comments}" th:object="${comment}" method="POST">
                <input type="hidden" th:attr="name='idmovie'" th:value="${movie.idmovie}" />
                <input type="hidden" th:attr="name='iduser'" th:value="${user.iduser}" />
                <span class="add_actors">Ajouter un commentaire : </span>
                <br /><br />
                <textarea type="text" th:field="*{comment}"/>
                <br /><br />
                <input type="submit" value="Ajouter" />
                <br /><br />
            </form>

            <!--<form action="#" th:action="@{/movies/persons}" th:object="${person}" method="POST">
            <span class="add_actors">Ajouter un acteur : </span>
            <br /><br />
            Prénom : <input type="text" th:field="*{firstName}"/>
            <br /><br />
            Nom : <input type="text" th:field="*{name}"/>
            <br /><br />
            <input type="submit">Ajouter</input>
            <br /><br />
        </form>!-->
        </div>
    </div>
</div>


</body>
</html>