<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="fr">
    <meta charset="UTF-8" />
    <title>Accueil</title>
    <!--<link href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />!-->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div id="header">
        <div id="cssmenu">
            <div id="menu-button">Menu</div>
            <ul>
                <li class="active"><a href="/" data-title="Accueil">Accueil</a></li>
                <form action="#" th:action="@{/movies/search}" th:object="${movieUtils}" method="post">
                    <input type="text" class="search_input" th:field="*{searchContent}" placeholder="Titre du film" />
                    <button class="btn_search">Rechercher</button>
                </form>
            </ul>
        </div>
    </div>
</body>
</html>