<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="fr">
    <meta charset="UTF-8" />
    <title>Accueil</title>
    <!--<link href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />!-->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div id="header">
        <div id="cssmenu">
            <div id="menu-button">Menu</div>
            <ul>
                <li class="active"><a href="/" data-title="Accueil">Accueil</a></li>
                <form action="#" th:action="@{/movies/search}" th:object="${searchUtils}" method="post">
                    <input type="text" class="search_input" th:field="*{research}" placeholder="Titre du film" />
                    <button class="btn_search">Rechercher</button>
                </form>
                <li class="active"><div th:if="${user.iduser != 0}">Bienvenue, <span th:text="${user.firstName}"></span> <span th:text="${user.name}"></span></div></li>
                <li class="active">
                    <div th:if="${user.iduser == 0}">
                        <form action="#" th:action="@{/login}" th:object="${user}" method="post">
                            <input type="text" th:field="*{pseudo}" />
                            <input type="password" th:field="*{password}" />
                            <input type="submit" value="Se connecter" />
                        </form>
                        <a href="/register">Créer un compte</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="left">
        <a href="/movies/add">Ajouter un film</a>
    </div>

    <div id="middle">
        <div class="movie" th:each="movie : ${listMovies}">
            <form action="#" th:action="@{/movies}" method="GET" th:object="${movie}">
                <input type="hidden" th:attr="name='idmovie'" th:value="${movie.idmovie}" />
                <span class="title_movie" th:text="${movie.title}"></span> <img th:src="${movie.imageUrl}"/>
                <br /><br />
                <span>de </span><span class="realisator"></span>
                <br /><br />
                <span>avec </span><span class="actors"></span>
                <br /><br />
                <span>Date de sortie :</span><span class="date_sortie" th:text="${movie.dateRelease}"></span>
                <br /><br />
                <span>Note : </span><span class="date_sortie" th:text="${movie.note} ? ${movie.note} : 'Aucune note pour le moment'"></span>
                <input type="submit" value="Voir la fiche du film" />
            </form>
        </div>
    </div>
</body>
</html>