<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="fr">
    <meta charset="UTF-8" />
    <title>Films</title>
    <!--<link href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />!-->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <!--<script src="/webjars/jquery/2.2.3/jquery.min.js"></script>!-->
</head>
<body>
    <div id="header">
        <div id="cssmenu">
            <div id="menu-button">Menu</div>
            <ul>
                <li class="active"><a href="/" data-title="Accueil">Accueil</a></li>
                <li><a href="/movies" data-title="Films">Films</a></li>
                <li><a href="#" data-title="Utilisateur">Utilisateur</a></li>

                <form action="#" th:action="@{/movies}" th:object="${movieUtils}" method="post">
                    <input type="text" class="search_input" th:field="*{research}" placeholder="Titre du film" />
                    <button class="btn_search">Rechercher</button>
                </form>
            </ul>
        </div>
    </div>

    <div id="middle">
        <div class="movie" th:each="movie : ${listMovies}">
            <span class="title_movie" th:text="${movie.title}"></span> <img th:src="${movie.imageUrl}"/>
            <br /><br />
            <span>de </span><span class="realisator"></span>
            <br /><br />
            <span>avec </span><span class="actors"></span>
            <br /><br />
            <span>Date de sortie :</span><span class="date_sortie"></span>
            <br /><br />
            <span>Note :</span><span class="date_sortie" th:text="${movie.noteAllocine}"></span>
        </div>
    </div>
</body>
</html>