<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="fr">
    <meta charset="UTF-8"/>
    <title>Films</title>
    <!--<link href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />!-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <!--<script src="/webjars/jquery/2.2.3/jquery.min.js"></script>!-->
</head>
<body>
<div id="header">
    <div id="cssmenu">
        <div id="menu-button">Menu</div>
        <ul>
            <li><a href="/" data-title="Accueil">Accueil</a></li>
            <form action="#" th:text="person" th:action="@{/person/search}" th:object="${searchUtils}" method="post">
                <input type="text" class="search_input" th:field="*{research}" placeholder="Nom d'une personne"/>
                <button class="btn_search">Rechercher</button>
            </form>
            <li class="active"><div th:if="${user.iduser != 0}">Bienvenue, <span th:text="${user.firstName}"></span> <span th:text="${user.name}"></span></div></li>
            <li class="active">
                <div th:if="${user.iduser == 0}">
                    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
                        <input type="text" th:field="*{pseudo}" />
                        <input type="password" th:field="*{password}" />
                        <input type="submit" value="Se connecter" />
                    </form>
                    <a href="/register">Créer un compte</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<h4 class="info col-md-8" th:text="${info}"></h4>
<div id="middle">
    <div class="row movie" th:each="person :${listPersons}">
        <h4 class="col-md-8" th:text="${person.name}"></h4>
        <div class="text-right" th:switch="${person.picture}? ${true} : ${false}">
            <img th:case="${true}" th:src="${person.picture}"/>
        </div>
        <hr/>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">Birthday</div>
                <div class="col-md-10" th:switch="${person.birthday}? ${true} : ${false}">
                    <span th:case="${false}">non trouvé</span>
                    <span th:case="${true}"
                          th:text="${#dates.format(person.birthday, 'dd/MM/yyyy')}">User is a manager</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">Nationality</div>
                <div class="col-md-10" th:text="${person.nationality}"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">Métiers</div>
                <div class="col-md-10"><p th:each="role : ${person.roles}" th:text="${role.getRole()}"></p></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"><small>Source</small></div>
            <div class="col-md-10"><small><a th:href="${person.linkBo}" target="_blank" th:text="${person.linkBo}"></a></small></div>
        </div>
    </div>
</div>
</body>
</html>
