<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Utils</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="UserAngularController.js"></script>
</head>
<body>
<script>
    var helloApp = angular.module("helloApp", [ 'ngResource' ]);
    helloApp.controller("HttpController", [ '$scope', '$resource',
        function($scope, $resource) {
            //
            // GET Action Method
            //
            var User = $resource('localhost:8080/user/getUserById?id=:userId', {userId:'@userId'});
            User.get( {userId:1}, function(user){
                $scope.profile = user;
            })
            //
            // Query Action Method
            //
            var UserProfiles = $resource('localhost:8080/user/getAllProfiles');
            UserProfiles.query(function(profiles){
                $scope.profiles = profiles;
            });
        } ]);

</script>
<div ng-controller="Hello">
    <p>The ID is {{greeting.id}}</p>
    <p>The content is {{greeting.content}}</p>
</div>
</body>
</html>